body {
  padding-top: 5px;
}

.home-section-1 {
  background-image: url(../images/weights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  background-attachment: fixed;
  /*margin-top: 9.2%;*/
}

.home-section-2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 5%;
  font-size: 2em;
  height: 300px;
}

.home-image-2 {
  background-image: url(../images/shoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-attachment: fixed;
}

.home-section-3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 10%;
  font-size: 2em;
  height: 300px;
}

.nav-item {
  margin-top: 20%;
}

.navbar-links-list li a {
  text-decoration: none;
  color: black;
  font-family: 'Oswald', sans-serif;
}
.navbar-links-list li a:hover {
  color: gray;
}

#contact-button {
  color: white;
  background-color: transparent;
  text-shadow: 1px 1.5px 1px black;
  margin-top: 5%;
  margin-left: 45%;
  border: solid 2px white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  letter-spacing: 3px;
  padding: 13px;
  opacity: 1;
}
#contact-button:hover {
  background-color: white;
  color: black;
  text-shadow: none;
}

#home-fa {
  font-size: 3em;
  color: #800000;
  margin-bottom: 3%;
}

#home-icons {
  padding: 6%;
}

#image-overlay {
  margin-top: 9.6%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91%;
}

#image-overlay-2 {
  margin-top: 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#image-text {
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  padding-top: 13%;
  opacity: 1;
  font-size: 4em;
}

#image-text-2 {
  margin-top: 9%;
  color: white;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  opacity: 1;
  font-size: 4em;
}
